* {
    margin: 0;
    padding: 0;
}

main {
    box-sizing: border-box;
    padding: 5%;
    min-height: 86%;
}

.bi-vocabolangelo {
    color: white;
    font-size: 2rem;
}

.zoom {
    transition: transform 1s;
}

.zoom:hover {
    transform: scale(1.1);
}
