.counter {
    font-size: 10vw;
}

.spacer {
    aspect-ratio: 700/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.curve-0 {
    background-image: url("/svg/curve-0.svg");
}

.flip {
    transform: rotate(180deg);
}
