# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-case-conflict # checks for files that would conflict in case-insensitive filesystems.
  - id: check-merge-conflict # checks for files that contain merge conflict strings.
  - id: check-executables-have-shebangs # ensures that (non-binary) executables have a shebang.
  - id: check-symlinks # checks for symlinks which do not point to anything.
  - id: check-json # checks json files for parseable syntax.
  - id: check-yaml # checks yaml files for parseable syntax.
  - id: detect-private-key # detects the presence of private keys.
  - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline.
  - id: mixed-line-ending # replaces or checks mixed line ending.
  - id: trailing-whitespace # trims trailing whitespace.

- repo: https://github.com/compilerla/conventional-pre-commit
  rev: v2.3.0
  hooks:
  - id: conventional-pre-commit # conventional-pre-commit hook.
    stages: [commit-msg]

- repo: https://github.com/IamTheFij/docker-pre-commit
  rev: v3.0.1
  hooks:
  - id: docker-compose-check # checks that docker-compose files are valid.#

- repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
  rev: v1.1.2
  hooks:
    - id: htmlhint
    - id: markdown-toc

- repo: https://github.com/Lucas-C/pre-commit-hooks-lxml
  rev: v1.1.0
  hooks:
    - id: forbid-html-img-without-alt-text
    - id: forbid-non-std-html-attributes
    - id: html-tags-blacklist
    - id: html-attributes-blacklist

- repo: https://github.com/Lucas-C/pre-commit-hooks-java
  rev: 1.3.10
  hooks:
    - id: validate-html

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.44.0
    hooks:
      -   id: eslint
          files: \.[jt]sx?$  # *.js, *.jsx, *.ts and *.tsx
          types: [file]

-   repo: local
    hooks:
      - id: ttl-check
        name: TTL Check
        entry: .github/scripts/check-ttl.sh
        language: system
