---
rdf_prefix_path: "_data/prefixes.sparql"
---

<head>
    {% include head-common.html %}
    <title>Vocabolangelo - Autori</title>
</head>

<body>
    {% include header.html %}
    <main>
        <h1> Autori del Vocabolangelo </h1>
        {%assign query =
            'SELECT ?author ?firstName ?lastName
            WHERE {
                ?author rdf:type foaf:Person.
                ?author foaf:firstName ?firstName.
                ?author foaf:lastName ?lastName.
            }
            ORDER BY ?lastName'
        %}
        {% assign resultset = page.rdf | sparql_query: query %}
        <ul>
            {% for result in resultset %}
                <li>
                    <a href="{{ result.author.page_url }}">
                        {{ result.lastName }} {{ result.firstName }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </main>
    {% include footer.html %}
</body>
