---
---

<head>
    {% include head-common.html %}
    <title>Vocabolangelo</title>
</head>

<body>
    {% include header.html %}

    <div class="py-5 text-center">
        <h1>
            Cos'è il Vocabolangelo?
        </h1>
        <h4 class="py-3 mx-5">
            Il Vocabolangelo è un documento strutturato che cataloga e definisce parole, non riportate in un normale vocabolario, inventate da persone ordinarie.
        </h3>
        <a href="/vocabolangelo.html">
            Cerca il Vocabolangelo nel Vocabolangelo
        </a>
    </div>

    {% include footer.html %}
</body>
