<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
    <div class="content">
        <h2>Tempus adipiscing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum dolor sit amet.</p>
        <ul class="actions stacked">
            <li><a href="#" class="button">Learn More</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="images/spotlight02.jpg" alt="" />
    </div>
</section>