<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>Ipsum sed consequat</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum.</p>
        <div class="items style1 medium onscroll-fade-in">
            <section>
                <span class="icon style2 major fa-gem"></span>
                <h3>Lorem</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
            </section>
            <section>
                <span class="icon solid style2 major fa-save"></span>
                <h3>Ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
            </section>
            <section>
                <span class="icon solid style2 major fa-chart-bar"></span>
                <h3>Dolor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
            </section>
            <section>
                <span class="icon solid style2 major fa-wifi"></span>
                <h3>Amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
            </section>
            <section>
                <span class="icon solid style2 major fa-cog"></span>
                <h3>Magna</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
            </section>
            <section>
                <span class="icon style2 major fa-paper-plane"></span>
                <h3>Tempus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
            </section>
            <section>
                <span class="icon solid style2 major fa-desktop"></span>
                <h3>Aliquam</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
            </section>
            <section>
                <span class="icon solid style2 major fa-sync-alt"></span>
                <h3>Elit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
            </section>
            <section>
                <span class="icon solid style2 major fa-hashtag"></span>
                <h3>Morbi</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
            </section>
            <section>
                <span class="icon solid style2 major fa-bolt"></span>
                <h3>Turpis</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
            </section>
            <section>
                <span class="icon solid style2 major fa-envelope"></span>
                <h3>Ultrices</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
            </section>
            <section>
                <span class="icon solid style2 major fa-leaf"></span>
                <h3>Risus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
            </section>
        </div>
    </div>
</section>
