<header>
  <div class="px-3 py-2 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <a href="/index.html" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          {% include logo.html %}
          <h1>Vocabolangelo</h1>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small ">
          <li>
            <a href="/index.html" class="nav-link text-white zoom">
              <i class="bi bi-vocabolangelo bi-house"></i>
              Home
            </a>
          </li>
          <li>
            <a href="/words.html" class="nav-link text-white zoom">
              <i class="bi bi-vocabolangelo bi-book"></i>
              Parole
            </a>
          </li>
          <li>
            <a href="/games.html" class="nav-link text-white zoom">
              <i class="bi bi-vocabolangelo bi-joystick"></i>
              Giochi
            </a>
          </li>
          <li>
            <a href="/authors.html"  class="nav-link text-white zoom">
              <i class="bi bi-vocabolangelo bi-person-circle"></i>
              Autori
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
