---
rdf_prefix_path: "_data/prefixes.sparql"
---

{% assign prefLabel = page.rdf | rdf_property: 'skos:prefLabel' %}

<html>
    <head>
        <title> {{ prefLabel }} - Vocabolangelo </title>
        {% include head_common.html %}
    </head>

    <body class="is-preload">
        <main id="wrapper" class="divided">
            <section class="wrapper style1 align-center">
                <div class="inner">
                    <h2> {{prefLabel}} </h2>
                    <div class="index align-left">
                        {% assign definitionSet = page.rdf | rdf_property: 'skos:definition', nil, true %}
                        {% if definitionSet %}
                        <section>
                            <header>
                                <h3>Definizione</h3>
                            </header>
                            <div class="content">
                                <ol>
                                {% for definition in definitionSet %}
                                    <li>{{ definition }}</li>
                                {% endfor %}
                                </ol>
                            </div>
                        </section>
                        {% endif %}
                        {% assign exampleSet = page.rdf | rdf_property: 'skos:example', nil, true %}
                        {% if exampleSet %}
                        <section>
                            <header>
                                <h3>Esempio</h3>
                            </header>
                            <div class="content">
                                {% for example in exampleSet %}
                                    <p>{{ example }}</p>
                                {% endfor %}
                            </div>
                        </section>
                        {% endif %}
                        {% assign authors = page.rdf | rdf_property: 'dct:creator', nil, true %}
                        {% if authors %}
                        <section>
                            <header>
                                <h3>Autore</h3>
                            </header>
                            <div class="content">
                                <ul>
                                {% for c in authors %}
                                    <li>
                                        <a href="{{ c.page_url }}">
                                            {{ c | rdf_property: 'foaf:lastName' }} {{ c | rdf_property: 'foaf:firstName' }}
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </section>
                        {% endif %}
                        {% assign correlated = page.rdf | rdf_property: 'skos:related', nil, true %}
                        {% if correlated %}
                        <section>
                            <header>
                                <h3>Parole correlate</h3>
                            </header>
                            <div class="content">
                                <ul>
                                {% for w in correlated %}
                                    <li>
                                        <a href="{{ w.page_url }}" style="dispaly:inline">
                                            {{ w | rdf_property: 'skos:prefLabel' }}
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </section>
                        {% endif %}
                    </div>
                </div>
            </section>
            {% include footer.html %}
        </main>
        {% include script_common.html %}
    </body>
</html>