---
rdf_prefix_path: "_data/prefixes.sparql"
---

<head>
    <title> Ops... - Vocabolangelo </title>
    {% include head_common.html %}
</head>

<body>
    <main>
        <h1> {{ page.rdf }} </h1>
        <p>
            Se stai leggendo questa pagina qualcosa è andato molto storto sul sito del vocabolangelo. Ci dispiace :(
        </p>
        <a href="https://github.com/Vocabolangelo/vocabolangelo-rdf/issues">
            Notifica il problema aprendo un issue sul repository ufficiale se sei un developer
        </a>
    </main>
</body>
