name: Jekyll Deploy

on:
  push:
    tags:
    - 'v*'
  workflow_run:
    workflows: ["Validate RDF"]
    branches:
      - master
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - run: cp _data/vocabolangelo.ttl schema
      - uses:  helaili/jekyll-action@v2
        with:
          token: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
